/nbproject/private/
/Projeto Ghost-ejb/nbproject/private/
/Projeto Ghost-war/nbproject/private/
/Projeto Ghost-ejb/build/
/Projeto Ghost-ejb/dist/
/build/
/Projeto Ghost-war/build/
/Projeto Ghost-war/dist/