<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AlunoTest</servlet-name>
        <servlet-class>br.mack.pi2.servlet.AlunoTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginGhostServlet</servlet-name>
        <servlet-class>br.mack.pi2.servlet.loginGhostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarUsuarioGhostServlet</servlet-name>
        <servlet-class>br.mack.pi2.servlet.registrarUsuarioGhostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregaLocalInfraServlet</servlet-name>
        <servlet-class>br.mack.pi2.servlet.CarregaLocalInfraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadastroEventoGhostServlet</servlet-name>
        <servlet-class>br.mack.pi2.servlet.cadastroEventoGhostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadastroInfraGhostServlet</servlet-name>
        <servlet-class>br.mack.pi2.servlet.cadastroInfraGhostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadastroItensLocalGhostServlet</servlet-name>
        <servlet-class>br.mack.pi2.servlet.cadastroItensLocalGhostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeGhostServlet</servlet-name>
        <servlet-class>br.mack.pi2.servlet.homeGhostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pesquisaEventosGhostServlet</servlet-name>
        <servlet-class>br.mack.pi2.servlet.pesquisaEventosGhostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregaEventosJson</servlet-name>
        <servlet-class>br.mack.pi2.servlet.CarregaEventosJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregaDetalheEventoGhostServlet</servlet-name>
        <servlet-class>br.mack.pi2.servlet.CarregaDetalheEventoGhostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editaEventoGhostServlet</servlet-name>
        <servlet-class>br.mack.pi2.servlet.editaEventoGhostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlunoTest</servlet-name>
        <url-pattern>/AlunoTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginGhostServlet</servlet-name>
        <url-pattern>/loginGhostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarUsuarioGhostServlet</servlet-name>
        <url-pattern>/registrarUsuarioGhostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastroEventoGhostServlet</servlet-name>
        <url-pattern>/cadastroEventoGhostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastroInfraGhostServlet</servlet-name>
        <url-pattern>/cadastroInfraGhostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastroItensLocalGhostServlet</servlet-name>
        <url-pattern>/cadastroItensLocalGhostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeGhostServlet</servlet-name>
        <url-pattern>/homeGhostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pesquisaEventosGhostServlet</servlet-name>
        <url-pattern>/pesquisaEventosGhostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregaLocalInfraServlet</servlet-name>
        <url-pattern>/CarregaLocalInfraServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregaEventosJson</servlet-name>
        <url-pattern>/CarregaEventosJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregaDetalheEventoGhostServlet</servlet-name>
        <url-pattern>/CarregaDetalheEventoGhostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editaEventoGhostServlet</servlet-name>
        <url-pattern>/editaEventoGhostServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/homeGhost.jsp</welcome-file>
    </welcome-file-list>
</web-app>
